# Ignore Python cache files
__pycache__/
*.pyc

# Ignore image files you don't want to track
*.jpg
*.png
!input-image/input-image.jpg
!output-image/encrypted-image.png

# Ignore IntelliJ specific files
.idea/
*.iml
